version: '2'
services:
    agent:
        # build: . # For local testing only.
        image: jenkins/remoting-kafka-agent:latest
        volumes:
            - './certs/docker.kafka.server.keystore.jks:/kafka.keystore.jks:ro'
            - './certs/docker.kafka.server.truststore.jks:/kafka.truststore.jks:ro'
        command: >
            -name test -master http://localhost:8080/
            -secret 43b0cef99265f9e34c10ea9d3501926d27b39f57c6d674561d8ba236e7a819fb
            -kafkaURL 172.17.0.1:9092 -kafkaUsername admin
            -sslTruststoreLocation /kafka.truststore.jks
            -sslKeystoreLocation /kafka.keystore.jks
            -readSecret
            -kafkaPassword admin-secret
            -sslTruststorePassword kafkadocker
            -sslKeystorePassword kafkadocker
            -sslKeyPassword kafkadocker
        depends_on:
            - zookeeper
            - kafka
            - jenkins

    jenkins:
        build: 
            context: .
            dockerfile: jenkins/Dockerfile
        ports:
            - "8080:8080"
            - "36088:36088"
        links:
            - zookeeper
            - kafka
        volumes:
            - './certs/docker.kafka.server.keystore.jks:/kafka.keystore.jks:ro'
            - './certs/docker.kafka.server.truststore.jks:/kafka.truststore.jks:ro'
            - './demo/docker/jenkins.yaml:/var/jenkins_home/casc_configs/jenkins.yaml'
            - './demo/docker/init.groovy:/var/jenkins_home/init.groovy'
        environment:
            CASC_JENKINS_CONFIG: /var/jenkins_home/casc_configs/jenkins.yaml

    kafka:
        image: wurstmeister/kafka:2.11-1.1.0
        ports:
            - "9092:9092"
            - "9999:9999"
        links:
            - zookeeper
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./certs/docker.kafka.server.keystore.jks:/kafka.keystore.jks:ro
            - ./certs/docker.kafka.server.truststore.jks:/kafka.truststore.jks:ro
            - ./demo/docker/kafka_server_jaas.conf:/kafka_server_jaas.conf
        environment:
            # Zookeeper config
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            # SSL config env
            KAFKA_SSL_KEYSTORE_LOCATION: /kafka.keystore.jks
            KAFKA_SSL_KEYSTORE_PASSWORD: kafkadocker
            KAFKA_SSL_KEY_PASSWORD: kafkadocker
            KAFKA_SSL_TRUSTSTORE_LOCATION: /kafka.truststore.jks
            KAFKA_SSL_TRUSTSTORE_PASSWORD: kafkadocker
            # SASL config
            KAFKA_LISTENERS: SASL_SSL://:9092
            KAFKA_ADVERTISED_LISTENERS: SASL_SSL://${DOCKERHOST}:9092
            KAFKA_SECURITY_INTER_BROKER_PROTOCOL: SASL_SSL
            KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN
            KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
            KAFKA_OPTS: -Djava.security.auth.login.config=/kafka_server_jaas.conf
            # JMX config
            KAFKA_HEAP_OPTS: "-Xmx1G -Xms1G"
            JMX_PORT: 9999
            KAFKA_JMX_OPTS: "-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.rmi.port=9999 -Djava.net.preferIPv4Stack=true"

    zookeeper:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2181:2181"
    
    kafka-manager:
        image: hlebalbau/kafka-manager:latest
        ports:
            - "9000:9000"
        links:
            - zookeeper
            - kafka
        environment:
            ZK_HOSTS: "zookeeper:2181"
            APPLICATION_SECRET: "random-secret"
        command: -Dpidfile.path=/dev/null

    jenkins-no-auth:
        build:
            context: .
            dockerfile: jenkins/Dockerfile
        ports:
            - "8080:8080"
            - "36088:36088"
        links:
            - zoo2
            - kafka-no-auth
        volumes:
            - './demo/docker/jenkins_no_auth.yaml:/var/jenkins_home/casc_configs/jenkins.yaml'
            - './demo/docker/init.groovy:/var/jenkins_home/init.groovy'
        environment:
            CASC_JENKINS_CONFIG: /var/jenkins_home/casc_configs/jenkins.yaml

    zoo2:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2182:2181"

    kafka-no-auth:
        image: wurstmeister/kafka:2.11-1.1.0
        ports:
            - "9093:9092"
        links:
            - zoo2
        environment:
            KAFKA_ADVERTISED_HOST_NAME: ${DOCKERHOST}
            KAFKA_ADVERTISED_PORT: 9093
            KAFKA_ZOOKEEPER_CONNECT: zoo2:2181
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

    agent-no-auth:
        image: jenkins/remoting-kafka-agent:latest
        command: >
            -name test -master http://localhost:8080/
            -secret 43b0cef99265f9e34c10ea9d3501926d27b39f57c6d674561d8ba236e7a819fb
            -kafkaURL 172.17.0.1:9093
            -noauth
        depends_on:
            - zoo2
            - kafka-no-auth
            - jenkins-no-auth
