version: '2'
services:
    jenkins:
        build: .
        ports:
            - "8080:8080"
            - "50000:50000"       
            - "36088:36088"
        volumes:
            - './certs/docker.kafka.server.keystore.jks:/kafka.keystore.jks:ro'
            - './certs/docker.kafka.server.truststore.jks:/kafka.truststore.jks:ro'

    kafka:
        image: wurstmeister/kafka:latest
        ports:
            - "9092:9092"
        links:
            - zookeeper
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./certs/docker.kafka.server.keystore.jks:/kafka.keystore.jks:ro
            - ./certs/docker.kafka.server.truststore.jks:/kafka.truststore.jks:ro
            - ./docker/kafka_server_jaas.conf:/kafka_server_jaas.conf
        environment:
            # Zookeeper config
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            # SSL config env
            KAFKA_SSL_KEYSTORE_LOCATION: /kafka.keystore.jks
            KAFKA_SSL_KEYSTORE_PASSWORD: kafkadocker
            KAFKA_SSL_KEY_PASSWORD: kafkadocker
            KAFKA_SSL_TRUSTSTORE_LOCATION: /kafka.truststore.jks
            KAFKA_SSL_TRUSTSTORE_PASSWORD: kafkadocker
            # SASL config
            KAFKA_LISTENERS: SASL_SSL://:9092
            KAFKA_ADVERTISED_LISTENERS: SASL_SSL://${DOCKERHOST}:9092
            KAFKA_SECURITY_INTER_BROKER_PROTOCOL: SASL_SSL
            KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN
            KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
            KAFKA_OPTS: -Djava.security.auth.login.config=/kafka_server_jaas.conf

    zookeeper:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2181:2181"
