version: '2'
services:
    jenkins:
        image: jenkins/jenkins:2.127
        depends_on: 
            - remoting-kafka-agent
        ports:
            - "8080:8080"
            - "50000:50000"
            - "36088:36088"
    
    remoting-kafka-agent:
        build: 
            context: agent/
        command: -name test2 -master http://localhost:8080 -kafkaURL ${DOCKERHOST}:9092
        depends_on:
            - kafka

    kafka:
        image: wurstmeister/kafka:1.1.0
        ports:
            - "9092:9092"
        depends_on:
            - zookeeper
        environment:
            KAFKA_ADVERTISED_HOST_NAME: ${DOCKERHOST}
            KAFKA_ADVERTISED_PORT: 9092
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

    zookeeper:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2181:2181"
            