version: '2'
services:
    jenkins:
        build: 
            context: .
            dockerfile: jenkins/Dockerfile
        ports:
            - "8080:8080"
            - "36088:36088"
        volumes:
            - './certs/docker.kafka.server.keystore.jks:/kafka.keystore.jks:ro'
            - './certs/docker.kafka.server.truststore.jks:/kafka.truststore.jks:ro'

    kafka:
        image: wurstmeister/kafka:latest
        ports:
            - "9092:9092"
            - "9999:9999"
        links:
            - zookeeper
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./certs/docker.kafka.server.keystore.jks:/kafka.keystore.jks:ro
            - ./certs/docker.kafka.server.truststore.jks:/kafka.truststore.jks:ro
            - ./docker/kafka_server_jaas.conf:/kafka_server_jaas.conf
        environment:
            # Zookeeper config
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            # SSL config env
            KAFKA_SSL_KEYSTORE_LOCATION: /kafka.keystore.jks
            KAFKA_SSL_KEYSTORE_PASSWORD: kafkadocker
            KAFKA_SSL_KEY_PASSWORD: kafkadocker
            KAFKA_SSL_TRUSTSTORE_LOCATION: /kafka.truststore.jks
            KAFKA_SSL_TRUSTSTORE_PASSWORD: kafkadocker
            # SASL config
            KAFKA_LISTENERS: SASL_SSL://:9092
            KAFKA_ADVERTISED_LISTENERS: SASL_SSL://${DOCKERHOST}:9092
            KAFKA_SECURITY_INTER_BROKER_PROTOCOL: SASL_SSL
            KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN
            KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
            KAFKA_OPTS: -Djava.security.auth.login.config=/kafka_server_jaas.conf
            # JMX config
            KAFKA_HEAP_OPTS: "-Xmx1G -Xms1G"
            JMX_PORT: 9999
            KAFKA_JMX_OPTS: "-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.rmi.port=9999 -Djava.net.preferIPv4Stack=true"

    kafka-no-auth:
        image: wurstmeister/kafka:latest
        ports:
            - "9093:9092"
        links:
            - zoo2
        environment:
            KAFKA_ADVERTISED_HOST_NAME: ${DOCKERHOST}
            KAFKA_ADVERTISED_PORT: 9093
            KAFKA_ZOOKEEPER_CONNECT: zoo2:2181
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

    zookeeper:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2181:2181"

    zoo2:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2182:2181"
    
    kafka-manager:
        image: hlebalbau/kafka-manager:latest
        ports:
            - "9000:9000"
        links:
            - zookeeper
            - kafka
        environment:
            ZK_HOSTS: "zookeeper:2181"
            APPLICATION_SECRET: "random-secret"
        command: -Dpidfile.path=/dev/null
